:host {
    .form {
        margin-top: 20px;

        ion-list {
            padding-top: 68px;
            padding-bottom: 30px;
        }

        ion-item ion-textarea,
        ion-item ion-input {
            letter-spacing: 7px;
        }
    }
    .btn{
        text-transform: uppercase;
    }
}
