:host {
  ion-toolbar {
    background: var(--bg-color);

    ion-button {
      span {
        color: black;
        font-weight: 600;
        padding: 0 10px;
      }
    }
  }

  ion-list {
    margin-top: 5px;
    background: transparent;

    ion-item {
      align-items: flex-start;
      box-shadow: 0 1px 10px rgba(0, 0, 0, 0.1);
      margin-bottom: 5px;
      min-height: unset;
      padding: 6px 0;
    
      --inner-padding-start: 0;
      --inner-padding-end: 0;

      ion-radio {
        display: none;
      }

      h3 {
        font-size: 1.7rem;
        letter-spacing: 0.5px;
        // color: lighten($info, 100%);
      }

      ion-icon {
        font-size: 1.95rem;
        color: var(--theme-color);
        margin-right: 10px;
        margin-left: auto;
        display: none;
        position: relative;
        top: 3px;
      }
      ion-label {
        white-space: normal;
        display: flex;
        align-content: center;
      }

      &.add-item {
        padding: 0;

        h2 {
          padding: 3px 0;
          font-weight: 600;

          ion-icon {
            font-size: 2rem;
            margin-right: 13px;
            position: relative;
            top: 1px;
          }
        }
      }

      &.item-radio-checked {
        ion-icon {
          display: block;
        }
      }
    }
  }
}
