<ion-header class="theme_header">
    <ion-toolbar>
        <button ion-button>
            <ion-menu-button></ion-menu-button>
        </button>
        <ion-title>
            <h2>{{'saved_address' | translate}}</h2>
            <p>{{ (pick ? 'select_address' : 'pre_save_address_for_faster_cab_booking_pricess') | translate}}</p>
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content class="bg-color">
    <div class="empty-view" *ngIf="!isLoading && (!addresses || !addresses.length)">
        <div style="text-align:center">
            <img src="assets/imgs/empty_address.png" alt="no offers" />
            <span style="color:#9E9E9E; font-weight:bold;">{{'empty_addresses' | translate}}</span>
        </div>
    </div>
    <ion-list no-lines>
        <ion-item *ngFor="let address of addresses" (click)="addressPage(address)">
            <div [ngSwitch]="address.title" class="icon_box" item-start>
                <ion-icon *ngSwitchDefault class="material-icons">home</ion-icon>
                <ion-icon *ngSwitchCase="office" class="material-icons">business</ion-icon>
                <ion-icon *ngSwitchCase="other" class="material-icons">place</ion-icon>
            </div>
            <h2>{{address.title | translate}}</h2>
            <p>{{address.address}}</p>
        </ion-item>
    </ion-list>
</ion-content>

<ion-footer no-border>
    <button ion-button full no-margin text-uppercase item-start class="btn" (click)="addressPage(null)">
        <ion-icon class="material-icons">add</ion-icon> {{'add_address' | translate}}
    </button>
</ion-footer>
