<ion-header class="theme_header bg-color">
    <ion-toolbar>
        <ion-button>
            <ion-menu-button></ion-menu-button>
        </ion-button>
        <ion-title>
            <h2 *ngIf="card == null">{{'add_business_card' | translate}}</h2>
            <h2 *ngIf="card!=null">{{ ((card.metadata && card.metadata.title == 'business') ? 'card_business' : 'card_personal') | translate}} {{"card" | translate}}</h2>
            <p *ngIf="card == null">{{'add_card_information' | translate}}</p>
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
    <div class="form">
        <ion-list lines="none">
            <!--			<h2>{{'enter_bank_info' | translate}}</h2>-->
            <div class="form_container">
                <ion-item>
                    <ion-label position="floating">{{"card_number" | translate}}</ion-label>
                    <ion-input type="text" [disabled]="card!=null" [(ngModel)]="cardRequest.number"></ion-input>
                </ion-item>
                <ion-item>
                    <ion-label position="floating">{{"car_exp_month" | translate}}</ion-label>
                    <ion-input type="text" [disabled]="card!=null" maxlength="2" minlength="2"
                        [(ngModel)]="cardRequest.exp_month"></ion-input>
                </ion-item>
                <ion-item>
                    <ion-label position="floating">{{"car_exp_year" | translate}}</ion-label>
                    <ion-input type="text" [disabled]="card!=null" maxlength="2" minlength="2"
                        [(ngModel)]="cardRequest.exp_year"></ion-input>
                </ion-item>
                <ion-item>
                    <ion-label position="floating">{{"security_code" | translate}}</ion-label>
                    <ion-input type="text" [disabled]="card!=null" [(ngModel)]="cardRequest.cvc"></ion-input>
                </ion-item>
                <div *ngIf="card == null" class="card_type">
                    <h2>{{"card_type" | translate}}</h2>
                    <ion-radio-group  [(ngModel)]="cardRequest.title">
                        <ion-row>
                            <ion-col size="6">
                                <ion-item>
                                    <ion-radio value="personal" item-start></ion-radio>
                                    <ion-label>{{"card_personal" | translate}}</ion-label>
                                </ion-item>
                            </ion-col>

                            <ion-col size="6">
                                <ion-item>
                                    <ion-radio value="business" item-start></ion-radio>
                                    <ion-label>{{"card_business" | translate}}</ion-label>
                                </ion-item>
                            </ion-col>
                        </ion-row>
                    </ion-radio-group>
                </div>

                <ion-item>
                    <ion-label position="floating">{{"card_holder_name" | translate}}</ion-label>
                    <ion-input type="text" [disabled]="card!=null" [(ngModel)]="cardRequest.name"></ion-input>
                </ion-item>
                <ion-item>
                    <ion-label position="floating">{{"professional_email_address" | translate}}</ion-label>
                    <ion-input type="email" [disabled]="card!=null" [(ngModel)]="cardRequest.email"></ion-input>
                </ion-item>
                <p>{{"when_payment_done_by_this_card_user_will_get_invoice_on_adbove_given_email_adddress" | translate}}.
                </p>
            </div>
        </ion-list>
    </div>

</ion-content>
<ion-footer no-border>
    <ion-button expand="full" item-start class="btn ion-no-margin" (click)="confirm()">
        {{ (card == null ? 'save_card' : 'delete_card') | translate}}
    </ion-button>
</ion-footer>