:host {
  ion-header {
    --background: none !important;

    ion-toolbar {
      position: absolute;
      width: 100%;
      // left: 13px;
      min-height: 20px;

      .title {
        .toolbar-title {
          text-align: center;
          text-transform: uppercase;
        }
      }

      &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: var(--header_gradient) !important;
        opacity: 0.8;
      }

      .back_btn {
        position: absolute;
        left: 0px;
        z-index: 99;
        top: 0;
        padding: 15px;

        ion-icon {
          color: var(--theme-color);
          font-size: 2.4rem;
        }
      }
    }
  }

  .map {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    img {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }
  }

  ion-list {
    // background: var(--item_bg);
    width: calc(100% - 30px);
    border-radius: 8px;
    margin: 0 auto;
    margin-top: 15px;

    ion-item {
      padding: 7px 13px;
      display: block;
      border: none !important;
      box-shadow: none !important;
      min-height: unset;
      background: none;

      --inner-padding-end: 0px;
      --padding-start: 0px;

      --ion-background-color: transparent !important;

      ion-icon {
        &.end {
          color: var(--theme-color) !important;
          min-width: 22px !important;
          font-size: 2rem !important;
        }
      }

      ion-searchbar {
        // --placeholder-color: var(--info);
        --color: var(--white);
        --margin: 0;
        min-height: unset;
        font-size: 1.3rem;
        font-weight: 400;

        &::ng-deep {
          .text-input {
            margin: 0;
            min-height: unset;
            font-size: 1.3rem;
            font-weight: 400;
            color: var(--white);
          }
        }
      }

      .item_box {
        margin: 0 !important;
        position: relative;

        ion-icon {
          color: var(--theme-color);
          font-size: 1.5rem;
          min-width: 28px;
          position: relative;
          z-index: 99;
          // background: var(--item_bg);
          background: white;

          &.end {
            color: var(--info);
            min-width: 18px;
          }
        }

        ion-searchbar {
          padding: 0;
          background: rgba(0, 0, 0, 0.2);
          height: 44px;

          &::ng-deep {
            .searchbar-input-container {
              .searchbar-search-icon {
                display: none;
              }
            }

            .searchbar-clear-icon {
              right: 5px;
              color: var(--white);
            }

            .searchbar-input {
              padding: 0px 32px 0px 0px !important;
              background: none;
              box-shadow: none;
              color: var(--white);
              font-size: 1.5rem;
            }
          }
        }
      }

      &::after,
      &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 20px;
        height: 50%;
        width: 9px;
        background: url("../../../assets/imgs/dotted.png");
        background-size: 3px;
        background-repeat: no-repeat;
        background-repeat: repeat-y;
      }

      &::after {
        top: unset;
        bottom: 0;
      }

      &:first-child {
        &::after,
        &::before {
          display: none;
        }
      }

      &:nth-child(2) {
        &::before {
          display: none;
        }
      }

      &:last-child {
        &::after {
          display: none;
        }
      }
    }

    &.search_list {
      border-radius: 0;
      width: 100%;
      margin: 0 auto;
      padding: 5px 0px;
      // background: var(--item_bg) !important;
      overflow: hidden;
      position: relative;
      z-index: 99;

      ion-item {
        border-radius: 0;
        width: 100%;
        border-bottom: 1px solid black !important;
        // border-bottom: 1px solid var(--bg-color) !important;
        margin: 0;
        min-height: unset;
        padding: 0px 10px;

        &::before,
        &::after {
          display: none !important;
        }

        &:last-child {
          border-bottom: 0 !important;
        }

        h2 {
          // color: darken($white, 30%);
          font-size: 1.5rem;
        }

        &:nth-child(1) {
          animation-duration: 150ms;
        }

        &:nth-child(2) {
          animation-duration: 200ms;
        }

        &:nth-child(3) {
          animation-duration: 250ms;
        }

        &:nth-child(4) {
          animation-duration: 300ms;
        }

        &:nth-child(5) {
          animation-duration: 350ms;
        }

        &:nth-child(6) {
          animation-duration: 400ms;
        }

        &:nth-child(7) {
          animation-duration: 450ms;
        }

        &:nth-child(8) {
          animation-duration: 500ms;
        }

        &:nth-child(9) {
          animation-duration: 550ms;
        }

        &:nth-child(10) {
          animation-duration: 600ms;
        }
      }
    }
  }

  .payment_option {
    display: block;
    position: absolute;
    z-index: 99;

    background: white;
    // background: var(--white);
    border-radius: 7px;
    min-width: 128px;
    padding: 4px 13px 3px 13px;
    bottom: 10px;
    right: 22px;
    bottom: -100px;

    h2 {
      font-weight: 400;
      font-size: 1.5rem;
      font-weight: 500;
      margin: 0;
      padding: 9px 0px;
      transition: all 0.3s;
      min-width: 110px;

      ion-icon {
        color: var(--theme-color);
        font-size: 1.8rem;
        margin-right: 9px;
      }

      &.selected {
        color: var(--theme-color);
        transition: all 0.3s;
      }
    }

    &.active {
      bottom: 370px;
      transition: all 0.4s;
    }
  }

  .banner {
    position: absolute;
    bottom: 50px;
    left: 0;
    right: 0;
    z-index: 99;
    text-align: center;
    width: 90px;
    height: 90px;
    border-radius: 50%;
    overflow: hidden;
    margin: auto;

    .text {
      position: absolute;
      width: 100%;
      z-index: 99;
      top: 0;
      left: 0;
      bottom: 0;
      margin: auto;
      height: 35px;

      h2 {
        font-size: 1.5rem;
        font-weight: 700;
        margin: 0;
      }
    }

    &::after,
    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      height: 100%;
      width: 100%;
      margin: auto;
      background: var(--theme-color);
      opacity: 0.5;
      border-radius: 50%;
    }

    &::before {
      width: calc(100% - 10px);
      height: calc(100% - 10px);
      opacity: 1;
    }
  }

  .serching_cab {
    position: absolute;
    width: 300px;
    border-radius: 50%;
    height: 300px;
    overflow: hidden;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;

    ion-icon {
      color: var(--theme-color);
      font-size: 1.8rem;
      position: absolute;
      width: 17px;
      height: 18px;
      top: 0px;
      left: 0px;
      bottom: 0;
      right: 0;
      margin: auto;
      line-height: unset;
    }

    .animation_box {
      position: absolute;
      width: 100%;
      border-radius: 50%;
      height: 100%;
      overflow: hidden;
      background: var(--theme-color);
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      margin: auto;
      transition: all 0.3s;
      opacity: 0.1;

      &.a {
        width: 100%;
        height: 100%;
        animation: a 3s ease-in-out -0s infinite;
      }

      &.b {
        width: 80%;
        height: 80%;
        animation: b 3.5s ease-in-out -0s infinite;
      }

      &.c {
        width: 60%;
        height: 60%;
        animation: c 4s ease-in-out -0s infinite;
      }

      &.d {
        width: 40%;
        height: 40%;
        animation: d 4.5s ease-in-out -0s infinite;
      }

      @keyframes a {
        from {
          height: 0%;
          width: 0;
        }

        to {
          height: 100%;
          width: 100%;
        }
      }

      @keyframes b {
        from {
          height: 0%;
          width: 0;
        }

        to {
          width: 100%;
          height: 100%;
        }
      }

      @keyframes c {
        from {
          height: 0%;
          width: 0;
        }

        to {
          width: 100%;
          height: 100%;
        }
      }

      @keyframes d {
        from {
          height: 0%;
          width: 0;
        }

        to {
          width: 100%;
          height: 100%;
        }
      }
    }
  }

  ion-footer {
    .phase_one_search {
      width: 100%;
      border-radius: 15px 15px 0 0;
    }
    .phase_one {
      background: var(--bg-color);

      .btn_box {
        padding: 16px 20px;

        background: white;
        // background: var(--item_bg);

        p {
          color: var(--white);
          font-weight: 400;
          font-size: 1.24rem;
          margin: 0;
        }

        h2 {
          color: var(--theme-color);
          margin-top: 0;
          margin-bottom: 0;
          width: auto;
          font-size: 1.5rem;
          font-weight: 400;
          letter-spacing: 0.5px;

          ion-icon {
            margin-right: 13px;
            font-size: 1.55rem;
          }
        }
      }

      ion-button {
        text-transform: uppercase;
      }
    }

    .phase_two {
      .btn[clear] {
        background: var(--bg-color) !important;
      }
      .scroll {
        overflow: auto;
        height: 167px;
        margin-bottom: 0;
        white-space: nowrap;

        ion-list {
          margin-bottom: 0;
          margin-top: 0px;
          overflow: hidden;
          background: none;

          &::before {
            content: "";
            position: absolute;
            bottom: 0;
            left: 0;
            right: 0;
            margin: 0 auto;
            // width: calc(100% - 43px);
            height: calc(100% - 24px);
            background: white;
            // background: var(--item-bg);
            border-radius: 10px 10px 0 0;
          }

          ion-item {
            display: inline-block;
            padding: 0 10px 10px 10px;
            background: none;
            margin: 0 2px;
            position: relative;
            overflow: hidden;
            width: 100px;
            height: 165px;

            &::after,
            &::before {
              content: "";
              position: absolute;
              width: 100%;
              left: 0;
              bottom: 0;
              height: calc(100% - 15px);
              background: white;
              // background: var(--item-bg);
              border-radius: 10px;
              display: block !important;
            }

            &::before {
              height: calc(100% - 30px);
              display: none !important;
            }

            &::after {
              bottom: -100%;
            }

            --inner-padding-end: 0px;
            --padding-start: 0px;

            .img_box {
              position: relative;
              overflow: hidden;
              width: 55px;
              display: block;
              margin: 0 auto;
              margin-bottom: 6px;
              text-align: center;
            }

            h2 {
              font-size: 1.2rem;
              // color: var(--white);
              letter-spacing: 0.5px;
            }

            h3 {
              // color: lighten($info, 5%);
              font-size: 1rem;
              font-weight: 500;
              margin-top: 4px;
            }

            ion-label {
              margin: 0;
              margin-inline: 0;
            }

            // .label {
            //   margin: 0;
            //   z-index: 99;
            //   position: absolute;
            //   width: 100%;
            //   height: 100%;
            //   top: 0;
            //   left: 0;
            //   padding: 0 10px;

            // }

            ion-radio {
              position: absolute;
              width: 100%;
              height: 100%;
              left: 0;
              bottom: 0;
              z-index: 99;
              margin: 0;

              --color: transparent;
              --color-checked: transparent;

              // .radio-icon {
              //   display: none;
              // }
            }

            &.item-radio-checked {
              &::after {
                background: var(--theme-color);
                bottom: 0;
                transition: all 0.4s;
              }

              .item-inner .label h3 {
                // color: lighten($white, 5%);
              }
            }

            &:first-child {
              margin-left: 10px;
            }

            &:last-child {
              margin-right: 10px;
            }
          }
          // }
        }
      }

      ion-button {
        text-transform: uppercase;
      }
    }

    .phase_three {
      ion-list {
        margin-bottom: 0;
        bottom: calc(100% - 109px);
        height: 155px;
        //				padding-top: 16px;
        overflow: hidden;
        width: calc(100% - 25px);
        background: none !important;

        ion-item {
          width: calc(100% - 0px);
          border-radius: 8px;
          padding: 13px;
          background: white;
          // background: var(--white);
          margin: 0 auto;
          border: none !important;
          box-shadow: none !important;
          margin-bottom: 8px !important;

          ion-row{
            width: 100%;
          }

          .center_img{
            margin-inline-end: 10px
          }

          .item_cont{
            width: 100%;
          }

          &::after {
            display: none;
          }

          &:before {
            display: none;
          }

          .img_box {
            &[item-start] {
              margin: 0;
              margin-right: 13px;
            }

            min-width: 63px;
            max-width: 63px;
            height: 63px;
            border-radius: 7px;
          }

          h2 {
            font-size: 1.7rem;
            color: black;
            font-weight: 500;
            margin: 4px 0;

            ion-badge {
              font-size: 1.2rem;
              font-weight: 400;
              border-radius: 50px;
              padding: 0;
              text-align: center;
              background: var(--green_color);
              height: 20px;
              line-height: 20px;
              width: 50px;

              ion-icon {
                font-size: 1.1rem;
                min-width: unset;
                width: 11px;
                position: relative;
                top: 2px;
                color: var(--yelow_color);
              }
            }
          }

          h3 {
            // color: lighten($info, 10%);
            font-weight: 500;
            font-size: 1.2rem;
            letter-spacing: 0.5px;
            margin: 7px 0;
          }

          h4 {
            font-size: 1.2rem;
            color: black;
            font-weight: 500;
            margin: 7px 0;
          }

          h5 {
            // color: lighten($info, 10%);
            font-weight: 500;
            font-size: 1.6rem;
            letter-spacing: 0.5px;
            margin: 0;
            margin-bottom: 15px;

            strong {
              color: var(--white);
              font-weight: 500;
              font-size: 1.3rem;
            }
          }

          .item_box {
            align-items: flex-start;
            padding: 10px 0;
            overflow: hidden;
            position: relative;

            ion-icon {
              color: var(--theme-color);
              font-size: 1.5rem;
              min-width: 28px;
              position: relative;
              z-index: 99;
              top: 3px;
            }

            p {
              margin: 0;
              color: black;
              display: -webkit-box;
              font-size: 1.3rem;
              font-weight: 400;
              -webkit-line-clamp: 2;
              letter-spacing: 0.5px;
              overflow: hidden;
              -webkit-box-orient: vertical;
              text-overflow: ellipsis;
            }

            &::after,
            &::before {
              content: "";
              position: absolute;
              top: 0;
              left: 7px;
              height: 50%;
              width: 9px;
              background: url("../../../assets/imgs/dotted.png");
              background-size: 2px;
              background-repeat: no-repeat;
              background-repeat: repeat-y;
            }

            &::after {
              top: unset;
              bottom: 0;
            }

            &:first-of-type {
              &::before {
                display: none;
              }
            }

            &:last-child {
              &::after {
                display: none;
              }
            }
          }

          &.ride_details {
            ion-row {
              margin: 0 -5px;

              ion-col {
                padding-top: 0;
                padding-bottom: 0;

                h2 {
                  font-size: 1.4rem;
                  font-weight: 400;
                  white-space: nowrap;
                  text-overflow: ellipsis;
                  overflow: hidden;
                  margin-top: 7px;
                  margin-bottom: 0;

                  ion-icon {
                    color: var(--theme-color);
                    font-size: 1.5rem;
                    margin-right: 4px;
                    margin-top: 4px;
                  }
                }
              }
            }
          }
        }
      }

      .btn_box {
        padding: 0 8px;
        padding-bottom: 12px;
        position: relative;
        z-index: 99;

        ion-row {
          justify-content: flex-end;
          ion-col {
            padding-top: 0;
            padding-bottom: 0;

            h2 {
              background: var(--bg-color_light);
              border-radius: 50px;
              color: black;
              margin: 0;
              font-size: 1.3rem;
              text-align: center;
              font-weight: 500;
              height: 34px;
              line-height: 34px;

              ion-icon {
                color: var(--theme-color);
                font-size: 2rem;
                margin: 0 5px;
                position: relative;
                top: 6px;
              }

              &.more_less_btn {
                .less {
                  display: none;
                }
              }
            }
          }
        }
      }

      &::after {
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 66px;
        background: white;
        // background: var(--white);
      }

      &.active {
        &::after {
          bottom: -100%;
          transition: all 0.5s;
        }

        ion-list {
          height: auto;
          transition: all 0.9s;
        }

        .btn_box ion-row ion-col h2 {
          &.more_less_btn {
            .less {
              display: inline-block;
            }

            .more {
              display: none;
            }

            ion-icon {
              transform: rotate(180deg);
              top: 0;
            }
          }
        }
      }
    }
  }

  .form {
    &.promocode {
      padding: 0;

      ion-list {
        width: 100%;
        margin: 0;

        &::before {
          display: none;
        }

        ion-item {
          margin: 0;
          background: white;
          // background: var(--white);
          padding: 4px 15px;

          ion-input {
            --color: #000;
            font-size: 1.5rem;
          }

          h4 {
            margin: 0;
            color: var(--theme-color);
            font-weight: 500;
            min-height: 40px;
            line-height: 40px;
            text-transform: uppercase;
            font-size: 1.5rem;
            letter-spacing: 0.5px;
          }
        }
      }
    }
  }

  ion-fab {
    border-radius: 50%;
    overflow: hidden;
    padding: 5px;

    &[bottom] {
      bottom: 40px !important;
    }

    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      width: 100%;
      height: 100%;
      background: var(--theme-color);
      opacity: 0.3;
    }

    ion-fab-button {
      --background: var(--theme-color);
      &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        width: 100%;
        height: 100%;
        // --background: var(--theme-color);
        opacity: 0.8;
      }

      ion-icon {
        z-index: 99;
        font-size: 4rem;
        position: relative;
        // top: 5px;
      }
    }
  }
}

.buy-this-app-class {
  position: fixed;
  right: 0px;
  bottom: 95px;
  z-index: 99;
  background: transparent;
  width: 100%;
  text-align: end;
}

.button-size {
  height: 40px;
  margin-right: 25px !important;
  margin-left: 25px !important;
  background-color: #f8563a;
}
