<ion-header class="header_gradient">
    <ion-toolbar>
        <ion-button *ngIf="phase == 1">
            <ion-menu-button></ion-menu-button>
          </ion-button>
        <div class="back_btn" *ngIf="phase == 2" (click)="clearToPhase(1)">
            <ion-icon name="chevron-back"></ion-icon>
            <!-- <ion-icon md="md-arrow-back" ios="ios-arrow-back"></ion-icon> -->
        </div>
    </ion-toolbar>
</ion-header>

<ion-content class="bg-color" [fullscreen]="phase==2 && ride ? false : true">
    <div #pleaseConnect id="please-connect">
        <p>{{'please_connect_to_the_internet' | translate}}</p>
    </div>
    <div #map id="map" class="map">
        <ion-spinner></ion-spinner>
    </div>

    <div *ngIf="phase == 1">
        <div class="payment_option" [ngClass]="fabAction ? 'active' : ''">
            <h2 class="d-flex" [ngClass]="payment_method == 'cash' ? 'selected' : '' "
                (click)="setPaymentMethod('cash')">
                <ion-icon name="cash-outline"></ion-icon>
                <!-- <ion-icon class="zmdi zmdi-money-box"></ion-icon> -->
                {{'cash' | translate}}
            </h2>
            <h2 class="d-flex " [ngClass]="payment_method == 'card_business' ? 'selected' : '' "
                (click)="setPaymentMethod('card_business')">
                <ion-icon name="card-outline"></ion-icon>
                <!-- <ion-icon class="zmdi zmdi-card"></ion-icon> -->
                {{'business_card' | translate}}
            </h2>
            <h2 class="d-flex " [ngClass]="payment_method == 'card_personal' ? 'selected' : '' "
                (click)="setPaymentMethod('card_personal')">
                <!-- <ion-icon class="zmdi zmdi-card"></ion-icon> -->
                <ion-icon name="card-outline"></ion-icon>
                {{'personal_card' | translate}}
            </h2>
        </div>
    </div>

    <div *ngIf="phase == 2">
        <div *ngIf="ride">
            <div class="serching_cab">
                <div class="animation_box a"></div>
                <div class="animation_box b"></div>
                <div class="animation_box c"></div>
                <div class="animation_box d"></div>
            </div>

            <ion-fab  bottom horizontal="center" (click)="cancelSearch()">
                <ion-fab-button>
                    <ion-icon name="close"></ion-icon>
                    <!-- <ion-icon class="material-icons">clear</ion-icon> -->
                </ion-fab-button>
            </ion-fab>
        </div>
    </div>

</ion-content>
<ion-footer class="ion-no-border">
    <div *ngIf="!ride && phase != 3">        
        
        <ion-list class="animated zoomIn delay_3 phase_one_search" *ngIf="phase == 1 && !fabAction" style="padding-bottom: 20px" lines="none">
            <div style="padding: 20px">
                <p style="font-size: 1.25rem; margin-bottom: 0;">{{'welcome_back' | translate}}</p>
                <h5 style="font-weight: bold; margin-top: 8px;">{{'where_to_go' | translate}}</h5>
            </div>
            <ion-item>
                <div class="d-flex item_box">
                    <ion-icon name="location-sharp" (click)="detect()"></ion-icon>
                    <!-- <ion-icon class="material-icons" (click)="detect()">location_on</ion-icon> -->
                    <ion-searchbar [(ngModel)]="querySource" (ionInput)="searchPlaceSource($event.target.value)"
                        placeholder="{{'enter_source' | translate}}"></ion-searchbar>
                        <ion-icon name="attach-outline" (click)="navSavedAddress(1)"></ion-icon>
                    <!-- <ion-icon class="material-icons end" (click)="navSavedAddress(1)">attachment</ion-icon> -->
                </div>
            </ion-item>
            <ion-item>
                <div class="d-flex item_box">
                    <ion-icon name="navigate"></ion-icon>
                    <ion-searchbar [(ngModel)]="queryDestination" (ionInput)="searchPlaceDestination($event.target.value)"
                        placeholder="{{'enter_destination' | translate}}"></ion-searchbar>
                        <ion-icon name="attach-outline" (click)="navSavedAddress(2)"></ion-icon>
                    <!-- <ion-icon class="material-icons end" (click)="navSavedAddress(2)">attachment</ion-icon> -->
                </div>
            </ion-item>
        </ion-list>
        <ion-list lines="none" *ngIf="places && places.length && !fabAction" class="search_list">
            <ion-item class="animated slideInRight" *ngFor="let place of places">
                <div class="d-flex item_box" (click)="selectPlace(place)">
                    <ion-icon name="location-sharp"></ion-icon>
                    <h2>{{place.description}}</h2>
                </div>
            </ion-item>
        </ion-list>
        <div *ngIf="phase == 1" class="phase_one">
            <div class="btn_box d-flex" (click)="togglePaymentFab()">
                <p>{{'select_payment_mode' | translate}}</p>
                <h2 *ngIf="payment_method == 'wallet'" class="d-flex end">
                    <ion-icon class="zmdi zmdi-balance-wallet"></ion-icon>
                    {{'wallet' | translate}}
                </h2>
                <h2 *ngIf="payment_method == 'cash'" class="d-flex end">
                    <ion-icon name="cash-outline"></ion-icon>
                    <!-- <ion-icon class="zmdi zmdi-money-box"></ion-icon> -->
                    {{'cash' | translate}}
                </h2>
                <h2 *ngIf="payment_method != 'cash' && payment_method != 'wallet'" class="d-flex end">
                    <!-- <ion-icon class="zmdi zmdi-card"></ion-icon> -->
                    <ion-icon name="card-outline"></ion-icon>
                    {{ ((payment_method == 'card_business') ? 'business_card' : 'personal_card') | translate}}
                </h2>
            </div>
            <ion-button expand="full" fill="clear" (click)="next()" class="btn ion-no-margin">
                {{'continue' | translate}}
            </ion-button>
        </div>

        <div *ngIf="phase == 2" class="phase_two animated slideInUp delay_3">
            <div class="scroll" scrollY="true">
                <ion-radio-group  [(ngModel)]="vehicleTypeId" required>
                    <ion-list lines="none" >
                        <!-- <ion-scroll scrollX="true"> -->
                            <ion-item *ngFor="let vt of vehicleTypes">
                                <ion-label>
                                    <div class="img_box">
                                        <img *ngIf="!vt.image" src="assets/imgs/car1.png">
                                        <img *ngIf="vt.image" data-src="{{vt.image}}">
                                    </div>
                                    <h2>{{vt.title}}</h2>
                                    <h3>{{ (vt['estimated_fare'] - (vt['estimated_fare'] * 7)/100).toFixed(2)}} - {{(vt['estimated_fare'] + (vt['estimated_fare'] * 7)/100).toFixed(2)}} {{currency}}</h3>
                                </ion-label>
                                <ion-radio [value]="vt._id" (ionSelect)="loadNearbyDrivers()"></ion-radio>
                            </ion-item>
                        <!-- </ion-scroll> -->
                    </ion-list>
                </ion-radio-group>
            </div>
            <div class="form promocode">
                <ion-list lines="none">
                    <ion-item>
                        <ion-input type="text" [(ngModel)]="couponCode" placeholder="{{'have_promocode' | translate}}">
                        </ion-input>
                        <h4 item-end (click)="verifyCode()">{{'apply' | translate}}</h4>
                    </ion-item>
                </ion-list>
            </div>
            <ion-button expand="full" fill="clear" (click)="next()" class="btn ion-no-margin">
                {{'continue' | translate}}
            </ion-button>
        </div>
    </div>
        
        <ride-info *ngIf="phase == 3" [ride]="ride" (rideStatusChange)="updateRideStatus($event)" page="search"></ride-info>
    
</ion-footer>
<div *ngIf="config.enableBuyThisApp && phase == 1" class="buy-this-app-class">
    <ion-button class="button-size" (click)="buyThisApp()" round>
        <ion-icon name="md-cart" class="text-white"></ion-icon> &nbsp;
        {{'buy_this_app' | translate}}
    </ion-button>
</div>