<ion-header class="theme_header">
    <ion-toolbar>
        <ion-button>
            <ion-menu-button></ion-menu-button>
        </ion-button>
        <ion-title>
            <h2>{{'saved_address' | translate}}</h2>
            <p>{{ (pick ? 'select_address' : 'pre_save_address_for_faster_cab_booking_pricess') | translate}}</p>
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content class="bg-color">
    <empty-card [message]="'empty_addresses'" *ngIf="!isLoading && (!addresses || !addresses.length)"></empty-card>
    <ion-list lines="none">
        <ion-item *ngFor="let address of addresses" (click)="addressPage(address)">
            <div [ngSwitch]="address.title" class="icon_box" item-start>
                <ion-icon *ngIf="address.title=='home'" name="home"></ion-icon>
                <ion-icon *ngIf="address.title=='office'" name="briefcase"></ion-icon>
                <ion-icon *ngIf="address.title!='office' && address.title!='home'" name="business"></ion-icon>
            </div>
            <h2>{{address.title | translate}}</h2>
            <p>{{address.address}}</p>
        </ion-item>
    </ion-list>
</ion-content>

<ion-footer class="ion-no-border">
    <ion-button expand="full" item-start class="btn ion-no-margin" (click)="addressPage(null)">
        <ion-icon name="add-outline"></ion-icon>
        <!-- <ion-icon class="material-icons">add</ion-icon>  -->
        {{'add_address' | translate}}
    </ion-button>
</ion-footer>
