<ion-app>
  <ion-menu *ngIf="rtlSide == 'left'" side="start" contentId="content" (ionOpen)="menuOpened()">
    <ion-header>
        <ion-toolbar>
            <ion-button>
                <ion-menu-button></ion-menu-button>
                <!-- <ion-icon class="material-icons">clear</ion-icon> -->
            </ion-button>
            <ion-title></ion-title>
        </ion-toolbar>
        <div class="profile_box d-flex">
            <div class="profile_img center_img">
                <img *ngIf="!userMe || !userMe.image_url || !userMe.image_url.length" src="../assets/imgs/logo.png"
                    class="crop_img">
                <img *ngIf="userMe && userMe.image_url && userMe.image_url.length" data-src="{{userMe.image_url}}"
                    class="crop_img">
            </div>
            <div *ngIf="userMe" class="profile_details" menuClose (click)="my_profile()">
                <h2>{{userMe.name}}</h2>
                <p class="d-flex">
                    {{'show_profile' | translate}}
                </p>
                <ion-badge>
                    {{userMe.ratings}}
                    <ion-icon class="material-icons">star</ion-icon>
                </ion-badge>
            </div>
        </div>
    </ion-header>

    <ion-content class="bg-color" fullscreen="true">
        <ion-list lines="none">
            <ion-item *ngIf="userMe" menuClose (click)="home()">
                <ion-avatar item-start>
                    <ion-icon name="home-sharp"></ion-icon>
                </ion-avatar>
                <h2>{{'home' | translate}}</h2>
            </ion-item>
            <ion-item *ngIf="userMe" menuClose (click)="my_card()">
                <ion-avatar item-start>
                    <ion-icon name="card-outline"></ion-icon>
                </ion-avatar>
                <h2>{{'my_card' | translate}}</h2>
            </ion-item>
            <ion-item *ngIf="userMe" menuClose (click)="saved_address()">
                <ion-avatar item-start>
                    <ion-icon name="location-sharp"></ion-icon>
                </ion-avatar>
                <h2>{{'my_address' | translate}}</h2>
            </ion-item>
            <ion-item *ngIf="userMe" menuClose (click)="my_trips()">
                <ion-avatar item-start>
                    <ion-icon name="car-sport"></ion-icon>
                </ion-avatar>
                <h2>{{'my_rides' | translate}}</h2>
            </ion-item>
            <ion-item *ngIf="userMe" menuClose (click)="vouchers()">
                <ion-avatar item-start>
                    <ion-icon name="pricetags"></ion-icon>
                </ion-avatar>
                <h2>{{'vouchers' | translate}}</h2>
            </ion-item>
            <ion-item *ngIf="userMe" menuClose (click)="help()">
                <ion-avatar item-start>
                    <ion-icon name="help-circle"></ion-icon>
                </ion-avatar>
                <h2>{{'faqs' | translate}}</h2>
            </ion-item>
            <ion-item *ngIf="userMe" menuClose (click)="contact_us()">
                <ion-avatar item-start>
                    <ion-icon name="mail"></ion-icon>
                </ion-avatar>
                <h2>{{'contact_us' | translate}}</h2>
            </ion-item>

            <ion-item *ngIf="!userMe" menuClose (click)="managelanguage()">
                <ion-avatar item-start>
                    <ion-icon class="material-icons">public</ion-icon>
                </ion-avatar>
                <h2>{{'change_language' | translate}}</h2>
            </ion-item>
            <ion-item *ngIf="config.enableBranding" menuClose (click)="developedBy()" lines="none">
                <div class="div-logo">
                    <h4 class="text-white-dev">{{'developed_by' | translate}}</h4>
                    <img class="img-logo" src="assets/imgs/logo_vt_white.png" alt="">
                </div>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-menu>

<ion-menu *ngIf="rtlSide == 'right'" side="end" contentId="content" (ionOpen)="menuOpened()">
    <ion-header>
        <ion-toolbar>
            <ion-button>
                <ion-menu-button></ion-menu-button>
                <!-- <ion-icon class="material-icons">clear</ion-icon> -->
            </ion-button>
            <ion-title></ion-title>
        </ion-toolbar>
        <div class="profile_box d-flex">
            <div class="profile_img center_img">
                <img *ngIf="!userMe || !userMe.image_url || !userMe.image_url.length" src="../assets/imgs/logo.png"
                    class="crop_img">
                <img *ngIf="userMe && userMe.image_url && userMe.image_url.length" data-src="{{userMe.image_url}}"
                    class="crop_img">
            </div>
            <div *ngIf="userMe" class="profile_details" menuClose (click)="my_profile()">
                <h2>{{userMe.name}}</h2>
                <p class="d-flex">
                    {{'show_profile' | translate}}
                </p>
                <ion-badge>
                    {{userMe.ratings}}
                    <ion-icon class="material-icons">star</ion-icon>
                </ion-badge>
            </div>
        </div>
    </ion-header>

    <ion-content class="bg-color" fullscreen="true">
        <ion-list lines="none">
            <ion-item *ngIf="userMe" menuClose (click)="home()">
                <ion-avatar item-start>
                    <ion-icon class="material-icons">home</ion-icon>
                </ion-avatar>
                <h2>{{'home' | translate}}</h2>
            </ion-item>
            <ion-item *ngIf="userMe" menuClose (click)="my_card()">
                <ion-avatar item-start>
                    <ion-icon class="material-icons">payment</ion-icon>
                </ion-avatar>
                <h2>{{'my_card' | translate}}</h2>
            </ion-item>
            <ion-item *ngIf="userMe" menuClose (click)="saved_address()">
                <ion-avatar item-start>
                    <ion-icon class="material-icons">location_on</ion-icon>
                </ion-avatar>
                <h2>{{'my_address' | translate}}</h2>
            </ion-item>
            <ion-item *ngIf="userMe" menuClose (click)="my_trips()">
                <ion-avatar item-start>
                    <ion-icon class="material-icons">directions_car</ion-icon>
                </ion-avatar>
                <h2>{{'my_rides' | translate}}</h2>
            </ion-item>
            <ion-item *ngIf="userMe" menuClose (click)="vouchers()">
                <ion-avatar item-start>
                    <ion-icon class="material-icons">loyalty</ion-icon>
                </ion-avatar>
                <h2>{{'vouchers' | translate}}</h2>
            </ion-item>
            <ion-item *ngIf="userMe" menuClose (click)="help()">
                <ion-avatar item-start>
                    <ion-icon class="material-icons">help</ion-icon>
                </ion-avatar>
                <h2>{{'faqs' | translate}}</h2>
            </ion-item>
            <ion-item *ngIf="userMe" menuClose (click)="contact_us()">
                <ion-avatar item-start>
                    <ion-icon class="material-icons">mail</ion-icon>
                </ion-avatar>
                <h2>{{'contact_us' | translate}}</h2>
            </ion-item>

            <ion-item *ngIf="!userMe" menuClose (click)="managelanguage()">
                <ion-avatar item-start>
                    <ion-icon class="material-icons">public</ion-icon>
                </ion-avatar>
                <h2>{{'change_language' | translate}}</h2>
            </ion-item>

            <ion-item *ngIf="config.enableBranding" menuClose (click)="developedBy()" lines="none">
                <div class="div-logo">
                    <h4 class="text-white-dev">{{'developed_by' | translate}}</h4>
                    <img class="img-logo" src="assets/imgs/logo_vt_white.png" alt="">
                </div>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-menu>
  <ion-router-outlet id="content"></ion-router-outlet>
</ion-app>
