<ion-header class="theme_header">
    <ion-toolbar>
        <ion-button>
            <ion-menu-button></ion-menu-button>
        </ion-button>
        <ion-icon name="language" (click)="managelanguage()"></ion-icon>
        <ion-title>
            <headings [title]="'my_profile'" [subTitle]="'your_account_details'"></headings>
        </ion-title>
    </ion-toolbar>
</ion-header>


<ion-content class="bg-color">
    <div class="form animated slideInUp delay_3">
        <div class="profile_img_box d-flex" (click)="pickImage()">
            <div class="img_box center_img">
                <img [src]="savedUser.image_url" class="crop_img" *ngIf="savedUser.image_url">
                <img src="assets/imgs/empty_dp.png" class="crop_img" *ngIf="!savedUser.image_url">
            </div>
            <h2 class="d-flex">
                <!-- <ion-icon class="material-icons">photo_camera</ion-icon> -->
                <ion-icon name="camera"></ion-icon>
                {{'change_picture' | translate}}
            </h2>
        </div>
        <ion-list class="personal_info" lines="none">

            <ion-item>
                <ion-label position="stacked">{{'phone_number' | translate}}</ion-label>
                <ion-input [value]="savedUser.mobile_number" readonly></ion-input>
                <!-- <h5>{{savedUser.mobile_number}}</h5> -->
            </ion-item>

            <ion-item>
                <ion-label position="stacked">{{'full_name' | translate}}</ion-label>
                <ion-input [value]="savedUser.name" readonly></ion-input>
                <!-- <h5>{{savedUser.name}}</h5> -->
            </ion-item>

            <ion-item>
                <ion-label position="stacked">{{'email_address' | translate}}</ion-label>
                <ion-input [value]="savedUser.email" readonly></ion-input>
                <!-- <h5>{{savedUser.email}}</h5> -->
            </ion-item>
        </ion-list>
    </div>
</ion-content>
<ion-footer class="ion-no-border">
    <ion-button expand="full" ion-start class="btn ion-no-margin" (click)="alertLogout()">
        <ion-icon name="log-out-outline"></ion-icon>
        {{'logout_title' | translate}}
    </ion-button>
</ion-footer>
