<ion-content class="bg-color">
    <ion-card>
        <ion-header>
            <ion-toolbar>
                <ion-button>
                    <ion-menu-button></ion-menu-button>
                </ion-button>
            </ion-toolbar>
        </ion-header>

        <div class="container">
            <div class="profile">
                <ion-row>
                    <ion-col size="6" class="profile_details">
                        <div class="img_box center_img">
                            <img *ngIf="!ride.driver.user.image_url || !ride.driver.user.image_url.length"
                                src="assets/imgs/empty_dp.png" class="crop_img">
                            <img *ngIf="ride.driver.user.image_url && ride.driver.user.image_url.length"
                                data-src="{{ride.driver.user.image_url}}" class="crop_img">
                        </div>
                        <h1>{{ride.driver.user.name}}</h1>
                        <div class="cab_details">
                            <h3>{{ride.driver.car.model}}|{{ride.driver.car.color}}|{{ride.driver.car.construction_year}}</h3>
                            <h4>{{ride.driver.car.vehicle_number}}</h4>
                        </div>
                    </ion-col>

                    <ion-col size="6" class="ride_fare_details">
                        <h2>{{'ride_fare' | translate}}</h2>
                        <h3 *ngIf="!ride.final_fare || ride.final_fare==0">{{currency}} {{ride.estimated_fare }}</h3>
                        <h3 *ngIf="ride.final_fare && ride.final_fare>0">{{currency}} {{ride.final_fare }}</h3>
                        <h2>{{'payment_via' | translate}}</h2>
                        <h4 class="d-flex">
                            <ion-icon name="wallet"></ion-icon>
                            <!-- <ion-icon class="material-icons">account_balance_wallet</ion-icon> -->
                            {{ride.payment_method.title | translate}}
                        </h4>
                    </ion-col>
                </ion-row>
            </div>

            <div class="ride_info">
                <h2 class="d-flex">
                    {{'ride_info' | translate}}
                    <span class="end">
                        <strong>{{ride.estimated_distance}} {{distanceUnit}}</strong>
                    </span>
                </h2>

                <div class="d-flex item_box">
                    <!-- <ion-icon class="material-icons">location_on</ion-icon> -->
                    <ion-icon name="location-sharp"></ion-icon>
                    <p>{{ride.address_from}}</p>
                </div>
                <div class="d-flex item_box">
                    <ion-icon name="navigate"></ion-icon>
                    <!-- <ion-icon class="material-icons">near_me</ion-icon> -->
                    <p>{{ride.address_to}}</p>
                </div>
            </div>
        </div>
        <div class="container form">
            <h2 text-center>{{'rate_your_ride' | translate}} </h2>
            <div class="rating_icons d-flex" text-center>
                <ion-icon [name]="rateRequest.rating>=1 ? 'star':'star-outline'" (click)="setRating(1)"></ion-icon>
                <ion-icon [name]="rateRequest.rating>=2 ? 'star':'star-outline'" (click)="setRating(2)"></ion-icon>
                <ion-icon [name]="rateRequest.rating>=3 ? 'star':'star-outline'" (click)="setRating(3)"></ion-icon>
                <ion-icon [name]="rateRequest.rating>=4 ? 'star':'star-outline'" (click)="setRating(4)"></ion-icon>
                <ion-icon [name]="rateRequest.rating>=5 ? 'star':'star-outline'" (click)="setRating(5)"></ion-icon>
                

                <!-- <ion-icon [ngClass]="rateRequest.rating>=1 ? 'material-icons active' : 'material-icons'"
                    (click)="setRating(1)">star_rate</ion-icon>
                <ion-icon [ngClass]="rateRequest.rating>=2 ? 'material-icons active' : 'material-icons'"
                    (click)="setRating(2)">star_rate</ion-icon>
                <ion-icon [ngClass]="rateRequest.rating>=3 ? 'material-icons active' : 'material-icons'"
                    (click)="setRating(3)">star_rate</ion-icon>
                <ion-icon [ngClass]="rateRequest.rating>=4 ? 'material-icons active' : 'material-icons'"
                    (click)="setRating(4)">star_rate</ion-icon>
                <ion-icon [ngClass]="rateRequest.rating==5 ? 'material-icons active' : 'material-icons'"
                    (click)="setRating(5)">star_rate</ion-icon> -->
            </div>
            <ion-list lines="none">
                <ion-item>
                    <ion-textarea type="text" [(ngModel)]="reviewText"
                        placeholder="{{'add_comment' | translate}}"></ion-textarea>
                </ion-item>
            </ion-list>
        </div>
        <ion-button expand="full"  class="btn ion-no-margin" (click)="submitRating()">
            {{'pay_sumbit_review' | translate}}
        </ion-button>
    </ion-card>
</ion-content>