<ion-header class="header_gradient">
    <ion-toolbar>
        <ion-button *ngIf="phase == 1">
            <ion-menu-button></ion-menu-button>
          </ion-button>
        <div class="back_btn" *ngIf="phase == 2" (click)="clearToPhase(1)">
            <ion-icon name="chevron-back"></ion-icon>
            <!-- <ion-icon md="md-arrow-back" ios="ios-arrow-back"></ion-icon> -->
        </div>
    </ion-toolbar>
</ion-header>

<ion-content class="bg-color" [fullscreen]="phase==2 && ride ? false : true">
    <div #pleaseConnect id="please-connect">
        <p>{{'please_connect_to_the_internet' | translate}}</p>
    </div>
    <div #map id="map" class="map">
        <ion-spinner></ion-spinner>
    </div>

    <div *ngIf="phase == 1">
        <div class="payment_option" [ngClass]="fabAction ? 'active' : ''">
            <h2 class="d-flex" [ngClass]="payment_method == 'cash' ? 'selected' : '' "
                (click)="setPaymentMethod('cash')">
                <ion-icon name="cash-outline"></ion-icon>
                <!-- <ion-icon class="zmdi zmdi-money-box"></ion-icon> -->
                {{'cash' | translate}}
            </h2>
            <h2 class="d-flex " [ngClass]="payment_method == 'card_business' ? 'selected' : '' "
                (click)="setPaymentMethod('card_business')">
                <ion-icon name="card-outline"></ion-icon>
                <!-- <ion-icon class="zmdi zmdi-card"></ion-icon> -->
                {{'business_card' | translate}}
            </h2>
            <h2 class="d-flex " [ngClass]="payment_method == 'card_personal' ? 'selected' : '' "
                (click)="setPaymentMethod('card_personal')">
                <!-- <ion-icon class="zmdi zmdi-card"></ion-icon> -->
                <ion-icon name="card-outline"></ion-icon>
                {{'personal_card' | translate}}
            </h2>
        </div>
    </div>

    <div *ngIf="phase == 2">
        <div *ngIf="ride">
            <div class="serching_cab">
                <div class="animation_box a"></div>
                <div class="animation_box b"></div>
                <div class="animation_box c"></div>
                <div class="animation_box d"></div>
            </div>

            <ion-fab  bottom horizontal="center" (click)="cancelSearch()">
                <ion-fab-button>
                    <ion-icon name="close"></ion-icon>
                    <!-- <ion-icon class="material-icons">clear</ion-icon> -->
                </ion-fab-button>
            </ion-fab>
        </div>
    </div>

</ion-content>
<ion-footer class="ion-no-border">
    <div *ngIf="!ride && phase != 3">        
        
        <ion-list class="animated zoomIn delay_3 phase_one_search" *ngIf="phase == 1 && !fabAction" style="padding-bottom: 20px" lines="none">
            <div style="padding: 20px">
                <p style="font-size: 1.25rem; margin-bottom: 0;">{{'welcome_back' | translate}}</p>
                <h5 style="font-weight: bold; margin-top: 8px;">{{'where_to_go' | translate}}</h5>
            </div>
            <ion-item>
                <div class="d-flex item_box">
                    <ion-icon name="location-sharp" (click)="detect()"></ion-icon>
                    <!-- <ion-icon class="material-icons" (click)="detect()">location_on</ion-icon> -->
                    <ion-searchbar [(ngModel)]="querySource" (ionInput)="searchPlaceSource($event.target.value)"
                        placeholder="{{'enter_source' | translate}}"></ion-searchbar>
                        <ion-icon name="attach-outline" (click)="navSavedAddress(1)"></ion-icon>
                    <!-- <ion-icon class="material-icons end" (click)="navSavedAddress(1)">attachment</ion-icon> -->
                </div>
            </ion-item>
            <ion-item>
                <div class="d-flex item_box">
                    <ion-icon name="navigate"></ion-icon>
                    <ion-searchbar [(ngModel)]="queryDestination" (ionInput)="searchPlaceDestination($event.target.value)"
                        placeholder="{{'enter_destination' | translate}}"></ion-searchbar>
                        <ion-icon name="attach-outline" (click)="navSavedAddress(2)"></ion-icon>
                    <!-- <ion-icon class="material-icons end" (click)="navSavedAddress(2)">attachment</ion-icon> -->
                </div>
            </ion-item>
        </ion-list>
        <ion-list lines="none" *ngIf="places && places.length && !fabAction" class="search_list">
            <ion-item class="animated slideInRight" *ngFor="let place of places">
                <div class="d-flex item_box" (click)="selectPlace(place)">
                    <ion-icon name="location-sharp"></ion-icon>
                    <h2>{{place.description}}</h2>
                </div>
            </ion-item>
        </ion-list>
        <div *ngIf="phase == 1" class="phase_one">
            <div class="btn_box d-flex" (click)="togglePaymentFab()">
                <p>{{'select_payment_mode' | translate}}</p>
                <h2 *ngIf="payment_method == 'wallet'" class="d-flex end">
                    <ion-icon class="zmdi zmdi-balance-wallet"></ion-icon>
                    {{'wallet' | translate}}
                </h2>
                <h2 *ngIf="payment_method == 'cash'" class="d-flex end">
                    <ion-icon name="cash-outline"></ion-icon>
                    <!-- <ion-icon class="zmdi zmdi-money-box"></ion-icon> -->
                    {{'cash' | translate}}
                </h2>
                <h2 *ngIf="payment_method != 'cash' && payment_method != 'wallet'" class="d-flex end">
                    <!-- <ion-icon class="zmdi zmdi-card"></ion-icon> -->
                    <ion-icon name="card-outline"></ion-icon>
                    {{ ((payment_method == 'card_business') ? 'business_card' : 'personal_card') | translate}}
                </h2>
            </div>
            <ion-button expand="full" fill="clear" (click)="next()" class="btn ion-no-margin">
                {{'continue' | translate}}
            </ion-button>
        </div>

        <div *ngIf="phase == 2" class="phase_two animated slideInUp delay_3">
            <div class="scroll" scrollY="true">
                <ion-radio-group  [(ngModel)]="vehicleTypeId" required>
                    <ion-list lines="none" >
                        <!-- <ion-scroll scrollX="true"> -->
                            <ion-item *ngFor="let vt of vehicleTypes">
                                <ion-label>
                                    <div class="img_box">
                                        <img *ngIf="!vt.image_url || !vt.image_url.length" src="assets/imgs/car1.png">
                                        <img *ngIf="vt.image_url && vt.image_url.length" data-src="{{vt.image_url}}">
                                    </div>
                                    <h2>{{vt.title}}</h2>
                                    <h3>{{ (vt.estimated_fare - (vt.estimated_fare * 10)/100).toFixed(2)}} - {{(vt.estimated_fare + (vt.estimated_fare * 10)/100).toFixed(2)}} {{currency}}</h3>
                                </ion-label>
                                <ion-radio [value]="vt.id" (ionSelect)="loadNearbyDrivers()"></ion-radio>
                            </ion-item>
                        <!-- </ion-scroll> -->
                    </ion-list>
                </ion-radio-group>
            </div>
            <div class="form promocode">
                <ion-list lines="none">
                    <ion-item>
                        <ion-input type="text" [(ngModel)]="couponCode" placeholder="{{'have_promocode' | translate}}">
                        </ion-input>
                        <h4 item-end (click)="verifyCode()">{{'apply' | translate}}</h4>
                    </ion-item>
                </ion-list>
            </div>
            <ion-button expand="full" fill="clear" (click)="next()" class="btn ion-no-margin">
                {{'continue' | translate}}
            </ion-button>
        </div>
    </div>

    <div *ngIf="phase == 3"
        [ngClass]="fabFooterAction ? 'phase_three active animated slideInUp delay_3' : 'phase_three'">
        <ion-list lines="none" style="margin-bottom: 15px;">
            <ion-item class="d-flex" (click)="toggleFab()">
                <div class="img_box center_img" slot="start">
                    <img *ngIf="!ride.driver.user.image_url || !ride.driver.user.image_url.length"
                        src="assets/imgs/empty_dp.png" class="crop_img">
                    <img *ngIf="ride.driver.user.image_url && ride.driver.user.image_url.length"
                        data-src="{{ride.driver.user.image_url}}" class="crop_img">
                </div>
                <div class="item_cont">
                    <h2 class="d-flex">
                        <span>{{ride.driver.user.name}}</span>
                        <ion-badge class="end">{{ride.driver.user.ratings}}
                            <ion-icon name="star"></ion-icon>
                            <!-- <ion-icon class="material-icons">star_rate</ion-icon> -->
                        </ion-badge>
                    </h2>
                    <h3 class="d-flex">{{ride.driver.vehicle_type.title}}
                        <span class="end" *ngIf="ride.status != 'pending_accept'">{{'status' | translate}}</span>
                        <span class="end" *ngIf="ride.status == 'pending_accept'">{{'final_amount' | translate}}</span>
                    </h3>
                    <h4 class="d-flex">{{ride.driver.car.vehicle_number}}
                        <span class="end" *ngIf="ride.status != 'pending_accept'">{{ ('ride_status_'+ride.status) | translate}}</span>
                        <span class="end" *ngIf="ride.status == 'pending_accept'">{{currency}} {{ride.estimated_fare}}</span>
                    </h4>
                </div>
                
            </ion-item>
            <ion-item *ngIf="ride.status == 'accepted'" style="padding: 0 13px;">
                <h5 class="d-flex" (click)="navRoute()" style="margin: 0">{{'estimated_pickup_time' | translate}}
                    <span class="end">
                        ({{ride.estimated_pickup_time}} {{'mins' | translate}})
                    </span>
                </h5>
            </ion-item>
            <ion-item>
                <div class="item_cont">
                    <h5 class="d-flex">{{'ride_info' | translate}}
                        <span class="end">
                            <strong>{{ride.estimated_distance}} {{distanceUnit}}</strong>
                            ({{ride.estimated_time}} {{'mins' | translate}})
                        </span>
                    </h5>
                    <div class="d-flex item_box">
                        <ion-icon name="location-sharp"></ion-icon>
                        <!-- <ion-icon class="material-icons">location_on</ion-icon> -->
                        <p>{{ride.address_from}}</p>
                    </div>
                    <div class="d-flex item_box">
                        <ion-icon name="navigate"></ion-icon>
                        <!-- <ion-icon class="material-icons">near_me</ion-icon> -->
                        <p>{{ride.address_to}}</p>
                    </div>
                </div>
            </ion-item>
            <ion-item class="ride_details">
                <ion-row>
                    <ion-col size="4">
                        <h5>{{'payment_via' | translate}}</h5>
                        <h2 class="d-flex">
                            <ion-icon name="wallet"></ion-icon>
                            <!-- <ion-icon class="material-icons">account_balance_wallet</ion-icon> -->
                            {{ride.payment_method.title | translate}}
                        </h2>
                    </ion-col>
                    <ion-col size="4">
                        <h5>{{'ride_fare' | translate}}</h5>
                        <h2 class="d-flex">
                            <ion-icon name="wallet"></ion-icon>
                            <!-- <ion-icon class="material-icons">account_balance_wallet</ion-icon> -->
                            {{currency}} {{ride.estimated_fare}}
                        </h2>
                    </ion-col>
                    <ion-col size="4">
                        <h5>{{'ride_type' | translate}}</h5>
                        <h2 class="d-flex">
                            <ion-icon name="car-sport"></ion-icon>
                            <!-- <ion-icon class="material-icons">directions_car</ion-icon> -->
                            {{ride.vehicle_type.title}}
                        </h2>
                    </ion-col>
                </ion-row>
            </ion-item>
        </ion-list>
        <div class="btn_box">
            <ion-row justify-content-end>
                <ion-col size="4" *ngIf="ride.status == 'pending_accept' && !isAccept" (click)="updateRideStatus('accept_payment')">
                    <h2>
                        <!-- <ion-icon class="material-icons">done</ion-icon> -->
                        <ion-icon name="checkmark"></ion-icon>
                        {{'accept_invoice' | translate}}
                    </h2>
                </ion-col>
                <ion-col size="4" (click)="callRider()">
                    <h2>
                        <ion-icon name="call"></ion-icon>
                        <!-- <ion-icon class="material-icons">phone</ion-icon> -->
                        {{'call_now' | translate}}
                    </h2>
                </ion-col>
                <ion-col *ngIf="ride.status == 'pending' || ride.status == 'accepted' || ride.status == 'onway'" size="4"
                    (click)="confirmCancel()">
                    <h2>
                        <ion-icon name="close"></ion-icon>
                        <!-- <ion-icon class="material-icons">clear</ion-icon> -->
                        {{'cancel' | translate}}
                    </h2>
                </ion-col>
                <ion-col size="4">
                    <h2 (click)="toggleFab()" class="more_less_btn">
                        <ion-icon name="chevron-up"></ion-icon>
                        <!-- <ion-icon class="material-icons">keyboard_arrow_up</ion-icon> -->
                        <span class="more">{{'more' | translate}}</span>
                        <span class="less">{{'less' | translate}}</span>
                    </h2>
                </ion-col>
            </ion-row>
        </div>
    </div>
</ion-footer>
<div *ngIf="config.enableBuyThisApp && phase == 1" class="buy-this-app-class">
    <ion-button class="button-size" (click)="buyThisApp()" round>
        <ion-icon name="md-cart" class="text-white"></ion-icon> &nbsp;
        {{'buy_this_app' | translate}}
    </ion-button>
</div>