:host{

    ion-item {
        padding: 0px 0px;
        // background: darken($item_bg, 10%);
        margin: 0 auto;
        margin-bottom: 11px;

        --inner-padding-end: 0px;
        --padding-start: 0px;
        --border: none !important;
        --box-shadow: none !important;

        .item_header {
            // background: lighten($item_bg, 0%);
            padding: 11px 19px 11px 19px;

            .img_box {
                min-width: 41px;
                max-width: 41px;
                height: 41px;
                border-radius: 7px;
                margin-right: 13px;
            }

            .profile_details {
                width: 100%;

                h3 {
                    margin: 0;
                    font-size: 1.4rem;
                    font-weight: 500;
                    letter-spacing: 0.7px;
                    margin-bottom: 5px;
                    color: var(--white);

                    .end {
                        color: var(--theme-color);
                        font-weight: 500;
                        font-size: 1.25rem;

                        small {
                            font-weight: 500;
                            font-size: 1.25rem;
                            letter-spacing: 0;
                        }
                    }
                }

                h4 {
                    color: var(--info_light);
                    font-weight: 500;
                    font-size: 1.2rem;
                    margin: 5px 0;
                }
            }
        }

        .rides_details {
            align-self: flex-start;
            padding: 5px 19px 5px 19px;
            margin: 0 !important;
            position: relative;
        }

        .item_box {
            align-items: flex-start;
            padding: 8px 0;

            ion-icon {
                color: var(--theme-color);
                font-size: 1.5rem;
                min-width: 28px;
                position: relative;
                z-index: 99;
                top: 4px;

                &.end {
                    color: var(--info_light);
                    min-width: 18px;
                }
            }

            h6 {
                margin: 0;
                color: black;
                // color: #fff;
                display: -webkit-box;
                font-size: 1.3rem;
                font-weight: 400;
                -webkit-line-clamp: 2;
                letter-spacing: 0.5px;
                overflow: hidden;
                -webkit-box-orient: vertical;
                text-overflow: ellipsis;
            }

            h2 {
                margin: 0;
                color: var(--white);
                font-size: 1.3rem;
                font-weight: 400;
                letter-spacing: 0.5px;

                span {
                    display: block;
                    padding-top: 3px;
                    color: var(--info_light);
                    font-weight: 500;
                    font-size: 1.35rem;
                    letter-spacing: 0px;
                }
            }

            margin: 0 !important;
            position: relative;

            &::after,
            &::before {
                content: "";
                position: absolute;
                top: 0;
                left: 7px;
                height: 50%;
                width: 9px;
                background: url("../../../assets/imgs/dotted.png");
                background-size: 2px;
                background-repeat: no-repeat;
                background-repeat: repeat-y;
            }

            &::after {
                top: unset;
                bottom: 0;
            }

            &:first-child {
                &::before {
                    display: none;
                }
            }

            &:last-child {
                &::after {
                    display: none;
                }
            }
        }

    }
}