:host {
  ion-header.theme_header ion-toolbar ion-title span {
    --margin-top: 15px;
    display: block;
    font-size: 2rem;
    margin-top: 0.83em;
    margin-bottom: 0.83em;
    margin-left: 0;
    margin-right: 0;
    font-weight: bold;
  }

  .form {
    margin-top: 20px;

    ion-list {
      padding-top: 68px;
      padding-bottom: 30px;
    }
  }
  .input-cover {
    display: none;
  }

  .btn {
    text-transform: uppercase;
  }
}
