<ion-header class="theme_header">
    <ion-toolbar>
        <ion-button>
            <ion-back-button text=""></ion-back-button>
        </ion-button>
        <ion-title>
            <h2>{{'sign_up_now' | translate}}</h2>
            <p>{{'enter_required_information' | translate}}</p>
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content class="bg-color">
    <div class="form">
        <div class="img_box center_img" (click)="pickImage()">
            <ion-icon  *ngIf="!signUpRequest.image_url || !signUpRequest.image_url.length" name="camera"></ion-icon>
            <img *ngIf="signUpRequest.image_url && signUpRequest.image_url.length" data-src="{{signUpRequest.image_url}}">
        </div>
        <ion-list lines="none">
            <ion-item>
                <ion-label position="stacked">{{'select_country' | translate}}</ion-label>
                <ion-select [(ngModel)]="countryCode" interface="popover" multiple="false" class="text-thime">
                    <ion-select-option [value]="country.callingCodes[0]" *ngFor="let country of countries">{{country.name}}
                    </ion-select-option>
                </ion-select>
            </ion-item>
            <ion-item>
                <ion-label class="text-grey" position="floating">{{'mobile_number' | translate}}</ion-label>
                <ion-input type="tel" [(ngModel)]="phoneNumber"></ion-input>
            </ion-item>
            <ion-item>
                <ion-label class="text-grey" position="floating">{{'enter_full_name' | translate}}</ion-label>
                <ion-input type="text" [(ngModel)]="signUpRequest.name"></ion-input>
            </ion-item>
            <ion-item>
                <ion-label class="text-grey" position="floating">{{'enter_email_id' | translate}}</ion-label>
                <ion-input type="email" [(ngModel)]="signUpRequest.email"></ion-input>
            </ion-item>
        </ion-list>
    </div>
</ion-content>
<ion-footer class="ion-no-border">
    <ion-button expand="full" class="btn ion-no-margin" (click)="requestSignUp()">
        {{'sign_up' | translate}}
    </ion-button>
</ion-footer>